# Ignore node_modules folder
node_modules/

# Optional: Ignore logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Ignore environment files
.venv
.venv.*

# Optional: Ignore OS-specific files
.DS_Store
Thumbs.db
